//==============================================================================
// Variables
//==============================================================================

$fontColour: #47443C;
$linkHover: #DE845A;
$backgroundColour: #F3F3F1;
$portHover: lighten(#39B3BF, 50%);

$headerFont: 'Oswald', sans-serif;
$headerFontWeight: 700;
// $subHeadFont: 'Raleway', sans-serif;
$subHeadFont: 'Lato', sans-serif;
// $subHeadFontWeight: 100;
$subHeadFontWeight: 300;
// $bodyFont: 'Playfair Display', serif;
$bodyFont: 'Lato', sans-serif;